/* CSS reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* variables */
:root {
    --primary:#ff3995;
    --secondary:#00ffff;
}

/* Generics */
 .clearfix::after {
    content: '';
    clear: both;
    display: block;
 }
body {
    font-family: 'Fredoka', sans-serif;
}

/* Utility */
.container {
    margin:0 auto;
    max-width: 1000px;
}
a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 16px;
}
a:visited {
    color: var(--secondary) ;
}
/* main */
h1 {
    color:var(--primary);
    margin:2rem;
    text-align: center;
}
.description {
    text-align: center;
}
.raw {
    color:white;
    

}
.column {
    margin: 1rem;
    width: calc(100% / 3 - 2rem);
    background-color: black;
    float: left;
}
h4 {
    
}
.column img {
    float: left;
    width: 100px;
    padding-right: 1rem;
}
