/* CSS reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* variables */
:root {
    --primary:#ff3995;
}

/* Generics */
 .clearfix::after {
    content: '';
    clear: both;
    display: block;
 }
body {
    font-family: 'Fredoka', sans-serif;
}

/* Utility */
.container {
    margin:0 auto;
    width: 1000px;
}

/* main */

h1 {
    color:var(--primary);
    margin:2rem;
    text-align: center;
}
.description {
    text-align: center;
}