/* CSS reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* variables */
:root {
    --primary:#ff1381;
    --secondary:#00ffff;
}

/* Generics */
 .clearfix::after {
    content: '';
    clear: both;
    display: block;
}
body {
    font-family: 'Fredoka', sans-serif;
}

/* Utility */
.container {
    margin:20px auto;
    max-width: 1000px;
}
a {
    text-decoration: none;
    color: var(--secondary);
    font-size: 16px;
}
a:visited {
    color: var(--secondary) ;
}

/* main */
h1 {
    color:var(--primary);
    margin:2rem;
    text-align: center;
}
.description {
    text-align:center;
    /* chiedere per il center justify */
}

/* raw section */
.raw {
    color:white;
    margin: 0 -1rem;
}
/* card section */
.card {
    height: 100px;
    min-width: 300px;
    margin: 1rem;
    width: calc(100% / 3 - 2rem);
    background-color: black;
    float: left;
    box-shadow: 1px 1px 10px #888888;
    overflow-x: auto;
}
/* card content section */
.card img {
    float: left;
    height: 100%;
    margin-right: 1rem;
}
.card-text {
    height: 100px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}